.main-layout-wrap {
    height: 100%;
    margin: 0 auto;
    background-color: #eee;
    color: rgb(34, 34, 34);
    letter-spacing: -0.5px;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, 'Apple SD Gothic Neo', 나눔고딕, NanumGothic, sans-serif;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .main-layout-box {
        overflow-x: hidden;
    }
}
